@use "sass:math";

// Percent
@function percent($px, $from) {
    $result: math.div($px, $from) * 100%;
    @return $result;
}

// REM
@function rem($px) {
    $result: math.div($px, 16)+rem;
    @return $result;
}

// EM
@function em($px, $current: 16) {
    $result: math.div($px, $current)+em;
    @return $result;
}

//=================================================================================================

$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

//=================================================================================================

.container {
    max-width: rem(1300);
    margin: 0 auto;
    padding: 0 rem(15);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    >main {
        flex: 1 1 auto;
    }
}

html,
body {
    height: 100%;
    font-family: 'Proxima Nova', serif;
    font-weight: 400;
    background-color: #162831;
    color: #fff;
}

img {
    display: block;
}

//=================================================================================================

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

//=================================================================================================

.btn {
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;

    font-family: 'Proxima Nova';
    font-weight: 600;
    font-size: rem(13);
    line-height: 140%;

    padding: rem(9) rem(15);
    border-radius: rem(3);

    transition: .2s;

    &-blue {
        background-color: #018ABE;
        color: #fff;

        &:hover {
            background-color: #00b7ff;
        }

        &:active {
            background-color: #00b7ff;
            transform: scale(0.9);
        }
    }

    &-white {
        color: #018ABE;
        background-color: #fff;
    }
}

.title {
    font-family: 'El Messiri';
    font-size: rem(42);
    line-height: 140%;
    text-align: center;

    display: inline-block;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 30%;
        width: rem(28);
        height: rem(14);
        background: url('../img/decor/decor-rectangle-blue.svg') 0 center no-repeat;
    }

    &::before {
        left: rem(-45);
    }

    &::after {
        right: rem(-45);
        transform: scaleX(-1);
    }

    &:not(:last-child) {
        margin: 0 0 rem(100) 0;

        @media (max-width: $tablet) {
            margin: 0 0 rem(30) 0;
        }
    }
}

.section-pd {
    padding: rem(100) 0 rem(50);

    @media (max-width: $tablet) {
        padding: rem(60) 0 rem(50);
    }
}