@import '_fonts';
@import '_normalize';
@import '_tiny-slider';
@import '_common';

//===== Header ====================================================================================

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;

    @media (max-width: $tablet) {
        position: fixed;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #162831;
            z-index: 5;
        }
    }

    // .header__wrapper
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(20) 0;

        @media (max-width: $tablet) {
            padding: rem(10) 0;
        }
    }

    // .header__logo
    &__logo {
        position: relative;
        z-index: 5;
    }

    // .header__menu
    &__menu {
        @media (max-width: $tablet) {
            position: fixed;
            width: 65%;
            height: 100%;
            top: 0;
            right: -100%;
            background-color: #162831;

            transition: .2s;
            overflow-y: scroll;

            &.burger-open {
                right: 0;
            }
        }
    }

    // .header__btns
    &__btns {
        text-align: center;

        position: relative;
        z-index: 5;

        @media (max-width: $tablet) {
            margin: 0 0 0 auto;
        }

        @media (max-width: $mobileSmall) {
            padding: 0 0 rem(20) 0;
        }
    }

    // .header__burger
    &__burger {
        display: none;

        @media (max-width: $tablet) {
            cursor: pointer;
            display: block;
            position: relative;
            z-index: 5;

            margin: 0 0 0 rem(25);

            width: rem(30);
            height: rem(20);

            span {
                position: absolute;
                height: rem(2);
                right: 0;
                width: 100%;
                background-color: #fff;

                transition: .2s;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: rem(9);
                }

                &:nth-child(3) {
                    bottom: 0;
                }
            }

            &.burger-open {
                span {
                    &:nth-child(1) {
                        top: rem(9);
                        transform: rotate(-45deg);
                    }

                    &:nth-child(2) {
                        transform: scale(0);
                    }

                    &:nth-child(3) {
                        bottom: rem(9);
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}

.menu {

    // .menu__list
    &__list {
        @media (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0 rem(25);
            padding: 0;
        }

        @media (max-width: $tablet) {
            text-align: center;
            padding: rem(100) 0 rem(25);
        }
    }

    // .menu__item
    &__item {
        list-style-type: none;

        &:not(:last-child) {
            margin: 0 rem(50) 0 0;

            @media (max-width: $tablet) {
                margin: 0 0 rem(25);
            }
        }
    }

    // .menu__link
    &__link {
        text-decoration: none;

        font-family: 'Proxima Nova';
        font-weight: 400;
        font-size: rem(14);
        line-height: 135%;
        color: #fff;

        @media (max-width: $tablet) {
            font-size: rem(18);
        }

        transition: .2s;

        &:hover {
            color: #00b7ff;
        }

        &:active {
            color: #00b7ff;
        }
    }
}

//===== Intro =====================================================================================

.intro {
    padding: rem(140) 0 0;

    @media (max-width: $mobile) {
        padding: rem(100) 0 0;
    }

    // .intro__wrapper
    &__wrapper {
        text-align: center;
        font-family: 'El Messiri';
        position: relative;
        overflow: hidden;
        padding: 14.05% 0;
    }

    // .intro__media
    &__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: rem(10);

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(152, 201, 220, 0.5), rgba(152, 201, 220, 0.5));
        }
    }

    // .intro__body
    &__body {
        position: relative;
        z-index: 1;
    }

    // .intro__desc
    &__desc {
        font-size: rem(24);

        &:not(:last-child) {
            margin: 0 0 rem(60);

            @media (max-width: $mobile) {
                margin: 0 0 rem(25);
            }
        }

        display: inline-block;
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: rem(5);
            width: rem(28);
            height: rem(14);
            background: url('../img/decor/decor-rectangle.svg') 0 center no-repeat;
        }

        &::before {
            left: rem(-66);
        }

        &::after {
            right: rem(-66);
            transform: scaleX(-1);
        }
    }

    // .intro__title
    &__title {
        font-size: rem(64);

        @media (max-width: $mobile) {
            font-size: rem(44);
        }

        max-width: rem(400);
        margin: 0 auto;
    }
}

//===== Services ==================================================================================



//===== Reviews ===================================================================================

.reviews {

    // .reviews__wrapper
    &__wrapper {
        text-align: center;
        position: relative;
        padding: 0 0 rem(76) 0;

        @media (max-width: $mobile) {
            padding: 0 0 rem(35) 0;
        }
    }

    // .reviews__slider
    &__slider {
        text-align: left;
        display: flex;

        // .reviews__slider-nav
        &-nav {
            display: flex;
            align-items: center;

            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }

        // .reviews__slider-btn
        &-btn {
            cursor: pointer;
            margin: 0 rem(15);

            width: rem(16);
            height: rem(16);
            background: #fff;
            opacity: 0.4;
            border-radius: 3px;

            &.tns-nav-active {
                opacity: 1;
            }
        }
    }
}

.reviews-slide {
    background-color: #018ABE;
    border-radius: rem(10);
    padding: rem(25) rem(30);
    margin: 0 rem(25);

    display: flex;
    flex-direction: column;

    position: relative;
    overflow: hidden;

    transition: .2s;
    transform: scale(0.9);

    @media (min-width: em(1366)) {
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    // .reviews-slide__center
    &__center {
        &::before {
            display: none;
        }
        transform: scale(1);
    }

    // .reviews-slide__name
    &__name {
        font-weight: 700;
        font-size: rem(20);
        line-height: 140%;

        &:not(:last-child) {
            margin: 0 0 rem(20);
        }
    }

    // .reviews-slide__review
    &__review {
        font-weight: 300;
        font-size: rem(14);
        line-height: 140%;

        &:not(:last-child) {
            margin: 0 0 rem(25);
        }
    }
}